<%- include('partials/header.ejs') %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center_text-danger"><%= message %></p>
        <% } %>
        <form action="" class="add-player-form" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group_col-md-4">
                    <input type="text" class="form-control" id="first-name" name="first_name" placeholder="First Name" reuired>
                </div>
                <div class="form-group_col-md-4">
                    <input type="text" class="form-control" id="last-name" name="last_name" placeholder="Last Name" reuired>
                </div>
                <div class="form-group_col-md-4">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" reuired>
                </div>
            </div>
            <div class="form-row">
                <div class="form-goup_col-md-6">
                    <input type="number" class="form-control" name="number" id="number" placeholder="Number" required>
                </div>
                <div class="form-goup_col-md-6"></div>
                    <select name="position" id="position" class="form-control" required>
                        <option selected disabled>Chose Position</option>
                        <option value="Goalkeeper">Goalkeeper</option>
                        <option value="Centre Back">Centre Back</option>
                        <option value="Right Back">Right Back</option>
                        <option value="Left Back">Left Back</option>
                        <option value="Defesinve Midfielder">Defesinve Midfielder</option>
                        <option value="Central Midfielder">Central Midfielder</option>
                        <option value="Attacking Midfielder">Attacking Midfielder</option>
                        <option value="Right Wing Forward">Right Wing Forward</option>
                        <option value="Left Wing Forward">Left Wing Forward</option>
                        <option value="Striker">Striker</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="player-img"><b>Player Image</b></label>
                    <input type="file" name="image" id="player-img" class="" required>
                </div>
            </div>
            <button type="submit" class="bnt btn-primary float-right">Add Player</button>
        </form>
    </div>
</div>
</body>
</html>